<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Description Description Description</p>
    <hr class="my-4">
    <p>Samer's alpha blog Samer's alpha blog Samer's alpha blog Samer's alpha blog Samer's alpha blog</p>
    <a class="btn btn-info btn-lg" href="#" role="button">Sign up</a>
  </div>
</div>



