<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-black">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Description Description Description</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-info btn-lg" href="#" role="button">Sign up</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Samer Alswairki", "https://www.linkedin.com/in/samer-alswairki/", class: "text-white"%></small>
  </div>
</footer>

